body {
    background: green;
    color: #ffffff;
  }

h1
{
font-size: 100px;
font-family: Georgia;
}
   #mainbody{
color: black;
font-size: 17px;

  }

   #logo{
    font-size: 43px; 
  }

  h2{

    font-size: 59px;
  }

  #coaches{
color: black;
font-size: 17px;

  }